body {
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
    font-size: medium;
    width: 60%;
    margin: auto;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type=text] {
    font-size: medium;
    width: 80%;
}

input[type=email] {
    font-size: medium;
    width: 80%;
}

button {
    width: auto;
    font-size: medium;
    align-self: center;
}

select {
    width: auto;
    font-size: medium;
}

/* Classes */
.feedback {
    color: red;
    font-size: small;
}

.row-div {
    flex-direction: row;
}

/* IDs */
#fullpage {
    background-color: white;
    margin: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
}