body {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

#title-container {
    background-color: rgba(78, 48, 117, 0.5);
    position: relative;
}

h1 {
    font-family: 'Roboto Serif', 'serif';
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 25px;
}

header {
    background-color: lightseagreen;
    height: 300px;
}

main {
    background-color: pink;
    padding: 25px;
}

#sidebar-bg {
    position: fixed;
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(78, 48, 117, 0.5);
    z-index: 2;
}

#content-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 3fr;
}

aside {
    background-color: antiquewhite;
    padding: 30px;
    text-align: right;
}