#about-pic {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 20px;
}

article {
    display: inline-block;
}

@media (max-width: 920px) {
    #about-pic {
        width: 40%;
    }
}