#grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 500px auto;
}

/* header styling */
header {
  background-color: rgb(239, 230, 209, 0.7);
  position: relative;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  font-family: 'Merriweather', 'Noto Serif', 'serif';
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

/* navigation styling */
nav {
  background-color: rgb(239, 230, 209);
  padding: 30px;
  text-align: right;
}

#navbar {
  list-style: none;
  padding-left: 25px;
}

.navli {
  background-color: #A5B4AF;
  padding: 5px;
  margin: 5px;
  margin-right: 0;
  font-size: large;
}

.navli:hover {
  background-color: #6D8792;
  background-color: rgb(165, 180, 175, 0.8);
}

li>a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #24313E;
}

/* styling for download button on resume page */
#download {
  width: fit-content;
  height: fit-content;
}

#download-button {
  margin-top: 20px;
}

/* styling for main */
h2 {
  border-bottom: 1px solid black;
  font-family: 'Merriweather', 'Noto Serif', 'serif';
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 10px;
}

#navhead {
  margin-left: 30%;
}

.main-head {
  margin-right: 30%;
}

.in-page {
  border: none;
  margin-top: 25px;
  margin-bottom: 10px;
}

main {
  background-color: #A5B4AF;
  padding: 30px;
  padding-right: 200px;
  min-height: 65vh;
}

/* footer styling */
footer {
  background-color: #42596A;
  grid-column-start: 1;
  grid-column-end: span 2;
  color: white;
  padding: 30px;
}

/* mobile layout */
@media (max-width: 920px) {
  #grid-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* mobile header */
  header {
    position: static;
    background: linear-gradient(0deg, rgb(254, 237, 227, 0.7), rgb(254, 237, 227, 0.7)), url("/falls.jpg");
    background-size: cover;
  }

  h1 {
    position: static;
    text-align: left;
  }

  /* mobile main */
  main {
    padding-right: 25px;
    min-height: 65vh;
  }

  /* mobile navigation */
  nav {
    padding: 10px;
    text-align: center;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  ul {
    margin: 0;
  }

  .navli {
    width: 20%;
    margin-right: 5px;
    font-size: medium;
  }

  #navhead {
    display: none;
  }
}