form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
}

textarea {
  min-height: 100px;
}

#contact-submit {
  width: auto;
  align-self: flex-start;
}

.feedback {
  color: red;
  font-size: small;
}