#gallery-main {
    padding-right: 30px;
}

/* styling for main image (big display image) */
#gallery-main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* picture caption for the main image */
.pic-caption {
    text-align: center;
}

/* image display (the small clickable images) */
#gallery-image-display {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.gallery-wrapper {
    max-height: 100px;
    max-width: 100px;
}
.gallery-gallery-img {
    max-width: 100px;
    height: 100px;
    object-fit: cover;
}
.gallery-wrapper:hover {
    border: 2px solid black;
}

/* class for things to hide/show depending on mobile/desktop */
.desktop {
    display: block;
}
.mobile {
    display: none;
}

@media (max-width: 920px) {
    /* hide big main image and its caption on mobile */
    #gallery-main-img, .pic-caption {
        display: none;
    }

    /* display gallery images in a column and make them unclickable */
    #gallery-image-display {
        flex-direction: column;
        align-items: center;
    }

    .gallery-wrapper {
        max-width: fit-content;
        max-height: fit-content;
        text-align: center;
    }
    .gallery-gallery-img {
        max-width: 90%;
        height: fit-content;
    }
    .gallery-wrapper:hover {
        border: none;
    }

    /* class for things to hide/show depending on mobile/desktop */
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}